<body bgcolor="white" style="margin: 0px; cursor: col-resize;" width="100%">
    <div class="email-container" style="max-width: 600px; margin: auto; height:436px;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" align="center" style="border:solid 1px;">
            <tbody>
                <tr>
                    <td align="center" style="margin:0; padding:0; background-repeat:no-repeat; width:507px; height:173px; background-color:#E7BB5B;"><img src="img/_sample/logo_small.svg" alt="" style="height:148px;  width:106px; text-align:center; margin-left:auto;  margin-right:auto;"
                        /></td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0; padding-left:39px; font-size: 25px; color: #000000; padding-top:11px; padding-bottom:23px;">
                    帳號驗證</td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0; padding-left:39px; font-size: 14px; color: #4E4E4E; padding-bottom:20px; letter-spacing:2px;">
                    Hi 野趣畫廊您好,</td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0; padding-left:39px; font-size: 14px; color: #4E4E4E; padding-bottom:16px; letter-spacing:2px;">
                    感謝您參加ONE ART Taipei,請點擊以下驗證連結以確認您的帳號無誤！</td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0;"><a href="http://qser.net/en/sqDzU9191Y388ycopoJB3dFdeiveP" style="padding-left:39px; font-size: 14px; color: #09A5FF; letter-spacing:2px;"> http://qser.net/en/sqDzU9191Y388ycopoJB3dFdeiveP</a></td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0; padding-left:39px; font-size: 14px; color: #4E4E4E; padding-top:36px; letter-spacing:2px;">Thanks,</td>
                </tr>
                <tr>
                    <td style="margin:0; padding:0; padding-left:39px; font-size: 14px; color: #4E4E4E;  padding-bottom:37px; letter-spacing:2px;">ONE ART Taipei 團隊 敬上 </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>