form.ng-invalid .btn-green,
form .btn-green[disabled] {
    background-color: #777777 !important;
    opacity: 0.25;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-color: #ff5b5b !important;
    border: 2px solid;
}

form input.ng-valid.ng-touched,
form textarea.ng-valid.ng-touched,
form select.ng-valid.ng-touched {
    border-color: #9B9B9B;
}


.sumbitchecked input.ng-invalid,
.sumbitchecked textarea.ng-invalid {
    border-color: #ff5b5b !important;
    border: 2px solid;
}


/* select */

form select:focus {
    outline: none;
}

form .has-error select {
    border-color: #ff5b5b !important;
}

.parsley-errors-list.filled {
    margin-top: -10px;
}


/* error 404 page */

.error404 {
    min-width: 500px;
}

.error404 img {
    width: 150px;
    height: auto;
}

.oops {
    font-size: 60px;
    margin-bottom: 20px;
    color: #000;
}

.error404_info {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
}

.error404 p {
    font-size: 1rem;
    color: #777777;
}

.control-group li .project-info {
    font-size: 13px;
    color: #999999;
    margin-left: 20px;
}

.applyTable .table tr td ul li {
    margin-bottom: 5px;
}

.applyTable .table tr td ul li label {
    font-size: 14px;
    font-weight: bold;
}


/* 其他page fix */

.login-box p {
    padding-bottom: 5px
}

.error {
    padding-top: 0px
}

.form2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-green {
    margin-top: 0px;
}

.container2 {
    width: 600px;
}

.container .TaiwanGallery {
    width: 245px;
}

.back:hover {
    color: #999
}

a {
    color: #999
}

a:hover,
:active {
    color: #999
}

.preview {
    background-size: cover;
}