    .container {
        width: 700px;
        height: auto;
        min-height: 600px;
        padding: 0
    }

    body {
        background: rgb(220, 220, 220);
    }

    #apply6 .fa {
        color: #83DEC1
    }

    #apply6 ul {
        padding-left: 3px;
    }

    #apply6 ul li {
        list-style: none;
        font-size: 14px;
        padding-bottom: 10px;
        margin: 0;
    }

    #apply6 .fa span {
        font-weight: 500;
        color: #000
    }

    #apply6 .title {
        margin-top: 17px
    }

    #apply6 h5 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 2px;
        font-size: 14px
    }

    #apply6 h5 span {
        color: #FF3A3A;
    }

    #apply6 .table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        margin-top: 15px;
        /* padding: 0px 20px 20px 0; */
    }

    #apply6 thead {
        border-bottom: solid 1px #000;
        /* width: 100%; */
        padding: 0px 20px 20px 0;
        margin-butoon: 15px;
    }

    #apply6 thead h2 {
        color: #000;
        font-weight: 500;
        padding-left: 8px;
        text-align: left;
        margin: 8px 0;
        font-size: 18px;
    }

    #apply6 thead .edit-btn {
        width: 63px;
        height: 35px;
        float: right;
        background-color: #83DEC1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    #apply6 thead .edit-btn .fa {
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        /* text-decoration: none; */
    }

    #apply6 tbody {
        border-bottom: solid 1px rgb(208, 208, 208);
    }

    #apply6 tbody tr th {
        width: 140px;
        text-align: right;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 8px;
        vertical-align: text-top
    }

    #apply6 tbody tr td {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #apply6 .btn-group {
        display: flex;
        justify-content: flex-end;
        margin-top: 34px;
        margin-bottom: 100px
    }

    #apply6 .btn-group .btn-green-border,
    #apply6 .btn-group .btn-green {
        width: 220px
    }

    #apply6 .btn-group .btn-green-border {
        margin-right: 11px
    }

    .one:before {
        content: "1";
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        background-color: #83DEC1;
        color: white;
        border-radius: 100%;
        margin-right: 5px
    }

    .two:before {
        content: "2";
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        background-color: #83DEC1;
        color: white;
        border-radius: 100%;
        margin-right: 5px
    }

    .three:before,
    .four:before,
    .five:before,
    .six:before {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        background-color: #83DEC1;
        color: white;
        border-radius: 100%;
        margin-right: 5px
    }

    .three:before {
        content: "3";
    }

    .four:before {
        content: "4";
    }

    .five:before {
        content: "5";
    }

    .six:before {
        content: "6";
    }

    .card-group {
        width: 100%;
        display: flex
    }

    .card-group .card {
        width: 176.8px;
        padding-left: 5px;
        padding-right: 5px
    }

    .card-group .card .card-top {
        height: 150px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: left bottom !important;
        margin-bottom: 10px
    }

    .card-group,
    .card,
    .card-body,
    .card-title {
        font-size: 12px;
        font-weight: 500;
        color: black
    }

    button.back {
        border-radius: 3px;
        background: none;
        padding: 10px 0;
        border-width: 0;
        font-size: 20px;
        color: rgb(49, 97, 81)
    }

    button.back:hover {
        background: none;
        color: rgb(66, 131, 110)
    }

    button {
        border-radius: 3px;
        /* background: none; */
        padding: 10px;
        border-width: 0
    }

    button:hover {
        background-color: #fff;
    }

    /* 上方表單 */

    .top_form input[type=text] {
        width: 100%;
        padding: 8px 10px;
        margin: 0px 0;
        box-sizing: border-box;
    }

    .top_form textarea,
    input[type=text],
    input[type=password],
    input[type=datetime],
    input[type=datetime-local],
    input[type=date],
    input[type=month],
    input[type=time],
    input[type=week],
    input[type=number],
    input[type=email],
    input[type=url],
    input[type=search],
    input[type=tel],
    input[type=color] {
        border-radius: 0 !important;
        color: #858585;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        padding: 5px 4px 6px;
        font-size: 14px;
        font-family: inherit;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition-duration: .1s;
        transition-duration: .1s;
    }

    .top_form select {
        padding: 3px 4px;
        height: 30px;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #858585;
        background-color: #fff;
        border: 1px solid #d5d5d5;
    }

    .top_form tr .tb_r {
        text-align: left;
    }